{% extends "admin/change_form.html" %}
{% load overrides %}
{% block extrahead %}

<script type="text/javascript">
var ValidationOverrides = {
    available: {{ perms.genetic.can_override_validation }},

    {% if add %}
    ids: {},
    {% else %}
    ids: {{ overrides  }}, // was "original" - do not know where that var comes from
    {% endif %}
    contains: function (id, type) {
        if (!id) {
            return false;
        }

        if (id in this.ids) {
            return this.ids[id][type];
        }

        return false;
    }
};

</script>
{% endblock %}
