{% extends "dm1/questionnaire/base.html" %}

{% load get_range %}
{% load lookup %}
{% load format %}

{% block content %}
<h2>Myotonic Dystrophy Questionnaire</h2>

<div id="blurb">
This questionnaire is to be completed by the person enrolling in the Australian Myotonic Dystrophy Registry. The information that you, as the registrant, provide may be used to inform clinical management, social services and health strategies for people with myotonic dystrophy. Please carefully read the patient information document shown below then tick the appropriate boxes to indicate that you have read the information and consent to participate in the registry. You may then proceed to the start of the questionnaire.
</div>

<div id='consent'>

<!-- display a message if there is at least an error in the form validation -->
{% if form.errors %}
<div id='validation-errors'>
Please correct the errors in the form below!
</div>
{% endif %}

<h2 id='consent-title'>Patient Information and Informed Consent</h2>

<h4>The Australian National Myotonic Dystrophy Registry is a member of the TREAT-NMD global network of national patient registries for Neuromuscular Diseases.</h4>

<h4 id='patient-information'>INFORMATION FOR PATIENTS</h4>

<p id='patient-information-p'>
    We are inviting you or your child to take part in the New Zealand registry for participants with neuromuscular conditions (NZ NMD Registry).  This registry is part of the global family of TREAT-NMD registries, and in New Zealand it is an initiative of the Muscular Dystrophy Association of New Zealand (MDA), a not-for-profit registered charity dedicated to supporting people with neuromuscular conditions.
</p>
<p>
    Take your time to read the information and decide whether you wish to take part.
</p>

<h4>Introduction</h4>
<p>
    Neuromuscular diseases are conditions that affect the nerves and muscles.  TREAT-NMD is an international network designed to bring together the world’s leading neuromuscular specialists.  TREAT-NMD aims to improve standards of care, improve treatment and search for cures for affected participants.
</p>

<p>
    Major progress has been made in recent years towards finding new treatments for diseases like Duchenne muscular dystrophy, spinal muscular atrophy, myotonic dystrophy, facioscapulohumeral muscular dystrophy, Charcot-Marie-Tooth disease and others. Many of these treatments target specific genetic defects, some of which are rare and affect only a few participants in the world.  When a trial of these treatments is being planned it is important that suitable participants can be found and contacted quickly.  One way of ensuring this can happen is to collect each participant’s details in a participant registry.  This contains the important information that researchers will need, such as that participant’s particular genetic test result, and other key information about their disease.
</p>

<p>
    The data held in the registry will also help researchers answer other important questions such as how common these diseases are.  It will also be a way to inform participants about the latest information relevant to their disease.
</p>

<!-- NEXT QUESTION -->

<h4>Am I eligible to participate?</h4>
<p>
    All people in New Zealand affected by a neuromuscular disease are eligible to register with the NZ NMD Registry. The NZ NMD Registry is sponsored by the MDA, but any New Zealand resident can participate in this registry, you do not have to be a member of the MDA.
</p>

<p>
    Whether you want to take part or not is entirely your choice and your decision will not affect your future healthcare. If you do agree to take part, you can change your mind at any time and we can remove your information from the registry.  
</p>

<p>
    If your affected child is able to understand what this registry is about we will also ask for their consent.
</p>

<!-- NEXT QUESTION -->
<h4>What do I have to do?</h4>
<p>
    If you agree to participate you will need to sign the consent form and return it to the registry curator along with a registration questionnaire.  In this questionnaire you will be asked for some personal details, such as your age and ethnicity, and some information about your disease.  The registry will also collect the results of your genetic testing when this has been performed.  You may wish to complete the questionnaire with the assistance of your doctor or MDA fieldworker.  If you are not sure of the answer to any question discuss this with your doctor, MDA fieldworker or the registry curator.  The registry curator can approach your doctor on your behalf to clarify the answer to any question if required.   
</p>

<p>
    The registry curator will be available to discuss any other questions or concerns you have about the questionnaire. You will be requested to update your clinical record once per year.  We also request that you contact the registry curator if your contact details change or there are major changes in your clinical condition.
</p>

<!-- NEXT QUESTION -->
<h4>What happens to the information I provide?</h4>
<p>
    The information you provide will be stored securely and confidentially in the New Zealand Neuromuscular Disease Registry on computers at Auckland City Hospital and the Office of Population Health Genomics, Perth.  No unauthorised people will be able to gain access to any information about you.    
</p>

<p>
    In addition if there is an international database for your condition, e.g. the TREAT NMD Duchenne / Becker muscular dystrophy global database, your anonymised information will be forwarded to that database. In these international registries, the clinical and genetic information that you have given to us will be identified only by an anonymous code, not by your name.  Researchers worldwide who have been approved by their own local ethics committee and by the TREAT-NMD governing board and ethics council can access this information.      
</p>

<p>
    If no suitable database has been established, your information will be stored locally until an international database is set up. When that happens you will be contacted by the curator who will obtain from you the details required for that database.
</p>

<p>
    If a clinical trial or other research study is identified for which you might be eligible the New Zealand Registry will “de-code” the data to find your personal details and then contact you. If you are interested you can then contact the study organiser. Your name or other personal details will not be given to the researchers. You are free to make your own decision about whether or not you wish to participate in the trial, and may wish to discuss this with your doctor.
</p>

<!-- NEXT QUESTION -->
<h4>Who do I contact for further information</h4>
<p>
    Thank you for making the time to read about and consider taking part in the New Zealand Neuromuscular Disease Registry.  We hope you will be interested in submitting your details. 
</p>

<p>
    <ul>
        <li>For more information visit MDA’s website: <a href="http://www.mda.org.nz/what-we-do/nmd-registry/ ">http://www.mda.org.nz/what-we-do/nmd-registry/</a></li>
        <li>or contact the Registry Curator; Ph / Txt 0274688044, Email: NZNMDRegistry@adhb.govt.nz</li>
        <li>Post: NZ NMD Registry, Neurology, Auckland City Hospital, Private Bag 92024, Auckland Mail Centre 1142.</li>
    </ul>
</p>

<p>
    Further general information about the international TREAT-NMD project can be found on their website www.treat-nmd.eu. For more information about the Muscular Dystrophy Association of New Zealand, visit their website at www.mda.org.nz.
</p>

<p>
    If you have any queries or concerns regarding your rights as a participant in this registry please contact the Registry Curator or you may wish to contact an independent health and disability advocate: free phone 0800 555 050 email: advocacy@hdc.org.nz		
</p>

<p>
    <b>This study has received ethical approval from the Northern X Regional Ethics Committee, Ethics reference number NTX/11/02/003</b>
</p>


<hr size=1>

</div>
{{form}}
<form id='consent-form' method="post">{% csrf_token %}
<table id='informed-consent'>
    <caption>
        The New Zealand Neuromuscular Disease Registry<br>
        CONSENT FORM
    </caption>
    <tbody>
        <!-- Question 1 -->
        <tr>
            <td class='numbered'>
                1.
            </td>
            <td>
				<!--
                ## show the field errors
                ## ${form['q1'].errors.as_text()} ## works
                ## ${form.errors['q1'].as_text()} ## works as well
                ## ${form['q1'].label} |
				-->
				{{ form.q1.errors }}
                I consent to my / my child’s registration in the New Zealand Neuromuscular Disease Registry.
            </td>
            <td>
                <!--## ${form['q1'].value()} ## for debugging-->
            {% if form.q1.value == 'Y' %}
                <label><input type="radio" name="q1" value="N"/>NO</label>
            </td>
            <td>
                <label><input type="radio" checked='checked' name="q1" value="Y"/>YES</label>
            {% elif form.q1.value == 'N' %}
                <label><input type="radio" checked='checked' name="q1" value="N"/>NO</label>
            </td>
            <td>
                <label><input type="radio" name="q1" value="Y"/>YES</label>
            {% else %}
                <label><input type="radio" name="q1" value="N"/>NO</label>
            </td>
            <td>
                <label><input type="radio" name="q1" value="Y"/>YES</label>
            {% endif %}
            </td>
        </tr>
        <!--## Question 2-->
        <tr>
            <td class='numbered'>
                2.
            </td>
            <td>
                {{ form.q2.errors }}
                I consent to my / my child’s information being transferred in a form identifiable only by a code to the relevant global registry.
            </td>
            <td>
            {% if form.q2.value == 'Y' %}
                <label><input id='id_q2_0' type="radio" name="q2" value="N"/>NO</label>
            </td>
            <td>
                <label><input id='id_q2_1' type="radio" checked='checked' name="q2" value="Y"/>YES</label>
            {% elif form.q2.value == 'N' %}
                <label><input id='id_q2_0' type="radio" checked='checked' name="q2" value="N"/>NO</label>
            </td>
            <td>
                <label><input id='id_q2_1' type="radio" name="q2" value="Y"/>YES</label>
            {% else %}
                <label><input id='id_q2_0' type="radio" name="q2" value="N"/>NO</label>
            </td>
            <td>
                <label><input id='id_q2_1' type="radio" name="q2" value="Y"/>YES</label>
            {% endif %}
            </td>
        </tr>
        <!--## Question 3-->
        <tr>
            <td class='numbered'>
                3.
            </td>
            <td>
                {{ form.q3.errors }}
                I consent to my / my child’s genetic test results being held with my clinical and personal information in the registry for the purpose of research and planning of clinical trials.
            </td>
            <td>
            {% if form.q3.value == 'Y' %}
                <label><input id='id_q3_0' type="radio" name="q3" value="N"/>NO</label>
            </td>
            <td>
                <label><input id='id_q3_1' type="radio" checked='checked' name="q3" value="Y"/>YES</label>
            {% elif form.q3.value == 'N' %}
                <label><input id='id_q3_0' type="radio" checked='checked' name="q3" value="N"/>NO</label>
            </td>
            <td>
                <label><input id='id_q3_1' type="radio" name="q3" value="Y"/>YES</label>
            {% else %}
                <label><input id='id_q3_0' type="radio" name="q3" value="N"/>NO</label>
            </td>
            <td>
                <label><input id='id_q3_1' type="radio" name="q3" value="Y"/>YES</label>
            {% endif %}
            </td>
        </tr>
        <!--## Question 4-->
        <tr>
            <td class='numbered'>
                4.
            </td>
            <td>
                {{ form.q4.errors }}
                I consent to the registry curator reviewing my / my child’s medical notes to obtain information relevant to this registry
            </td>
            <td>
            {% if form.q4.value == 'Y' %}
                <label><input id='id_q4n' type="radio" name="q4" value="N"/>NO</label>
            </td>
            <td>
                <label><input id='id_q4' type="radio" checked='checked' name="q4" value="Y"/>YES</label>
            {% elif form.q4.value == 'N' %}
                <label><input id='id_q4n' type="radio" checked='checked' name="q4" value="N"/>NO</label>
            </td>
            <td>
                <label><input id='id_q4' type="radio" name="q4" value="Y"/>YES</label>
            {% else %}
                <label><input id='id_q4n' type="radio" name="q4" value="N"/>NO</label>
            </td>
            <td>
                <label><input id='id_q4' type="radio" name="q4" value="Y"/>YES</label>
            {% endif %}
            </td>
        </tr>
        <tr>
            <td class='numbered'>
                5.
            </td>
            <td>
                {{ form.q5.errors }}
                I would like to be informed about a clinical trial for which I / my child would be eligible. 
            </td>
            <td>
            {% if form.q5.value == 'Y' %}
                <label><input id='id_q5n' type="radio" name="q5" value="N"/>NO</label>
            </td>
            <td>
                <label><input id='id_q5' type="radio" checked='checked' name="q5" value="Y"/>YES</label>
            {% elif form.q5.value == 'N' %}
                <label><input id='id_q5n' type="radio" checked='checked' name="q5" value="N"/>NO</label>
            </td>
            <td>
                <label><input id='id_q5' type="radio" name="q5" value="Y"/>YES</label>
            {% else %}
                <label><input id='id_q5n' type="radio" name="q5" value="N"/>NO</label>
            </td>
            <td>
                <label><input id='id_q5' type="radio" name="q5" value="Y"/>YES</label>
            {% endif %}
            </td>
        </tr>

        <!--## Question 6 -->
        <tr>
            <td class='numbered'>
                6.
            </td>
            <td>
                {{ form.q6.errors }}
                I consent to my GP being informed of my participation in this registry.
            </td>
            <td>
            {% if form.q6.value == 'Y' %}
                <label><input id='id_q6n' type="radio" name="q6" value="N"/>NO</label>
            </td>
            <td>
                <input id='id_q6' type="radio" checked='checked' name="q6" value="Y"/>YES</label>
            {% elif form.q6.value == 'N' %}
                <label><input id='id_q6n' type="radio" checked='checked' name="q6" value="N"/>NO</label>
            </td>
            <td>
                <label><input id='id_q6' type="radio" name="q6" value="Y"/>YES</label>
            {% else %}
                <label><input id='id_q6n' type="radio" name="q6" value="N"/>NO</label>
            </td>
            <td>
                <label><input id='id_q6' type="radio" name="q6" value="Y"/>YES</label>
            {% endif %}
            </td>
        </tr>

        <!--## Question 7-->
        <tr>
            <td class='numbered'>
                7.
            </td>
            <td>
                {{ form.q7.errors }}
                I agree to be contacted by the curator once a year to ensure my / my child’s clinical details and contact details remain up to date.
            </td>
            <td>
            {% if form.q7.value == 'Y' %}
                <label><input id='id_q7n' type="radio" name="q7" value="N"/>NO</label>
            </td>
            <td>
                <label><input id='id_q7' type="radio" checked='checked' name="q7" value="Y"/>YES</label>
            {% elif form.q7.value == 'N' %}
                <label><input id='id_q7n' type="radio" checked='checked' name="q7" value="N"/>NO</label>
            </td>
            <td>
                <label><input id='id_q7' type="radio" name="q7" value="Y"/>YES</label>
            {% else %}
                <label><input id='id_q7n' type="radio" name="q7" value="N"/>NO</label>
            </td>
            <td>
                <label><input id='id_q7' type="radio" name="q7" value="Y"/>YES</label>
            {% endif %}
            </td>
        </tr>
    </tbody>
</table>

<p>
The nature of the registry has been fully explained to me. I have understood the patient information and informed consent form and have received a copy to take away with me. I have had the opportunity to ask questions, and all my questions have been answered to my satisfaction. Upon reflection, I agree to participate in this registry.
</p>

<table id='signature'>
    <tbody>
		{% if form.firstname.errors %}
        <tr>
            <td>&nbsp;</td>
            <td>
                {{ form.firstname.errors }}
            </td>
        </tr>
		{% endif %}
        <tr>
            <td class='fieldlabel'>
                Participant&apos;s first name
            </td>
            <td>
                <input type='text' size='60' maxlength='60' name='firstname' value='{{ form.firstname.value }}'/>
            </td>
        </tr>
		{% if form.lastname.errors %}
        <tr>
            <td>&nbsp;</td>
            <td>
                {{ form.lastname.errors }}
            </td>
        </tr>
		{%endif %}
        <tr>
            <td class='fieldlabel'>
                Participant&apos;s last name
            </td>
            <td>
                <input type='text' size='60' maxlength='60' name='lastname' value='{{ form.lastname.value }}'/>
            </td>
        </tr>
		{% if form.consentdate.errors %}
        <tr>
            <td>&nbsp;</td>
            <td>
                {{ form.consentdate.errors }}
            </td>
        </tr>
		{% endif %}
        <tr>
            <td class='fieldlabel'>
                Date
            </td>
            <td>
                <input type='text' size='20' maxlength='20' name='consentdate' value='{{ form.consentdate.value }}'/> (e.g. 23/12/2011, 23-12-2011, 23 12 2011, 23.12.2011)
            </td>
        </tr>

        <tr>
            <td class='fieldlabel'>
                Parent/guardian&apos;s first name
            </td>
            <td>
                <input type='text' size='60' maxlength='60' name='firstnameparentguardian' value='{{ form.firstnameparentguardian.value }}'/><br/>
            </td>
        </tr>
        <tr>
            <td class='fieldlabel'>
                Parent/guardian&apos;s last name
            </td>
            <td>
                <input type='text' size='60' maxlength='60' name='lastnameparentguardian' value='{{ form.lastnameparentguardian.value }}'/><br/>
            </td>
        </tr>
		{% if form.consentdateparentguardian.errors %}
        <tr>
            <td>&nbsp;</td>
            <td>
                {{ form.consentdateparentguardian.errors }}
            </td>
        </tr>
		{% endif %}
        <tr>
            <td class='fieldlabel'>
                Date
            </td>
            <td>
                <input type='text' size='20' maxlength='20' name='consentdateparentguardian' value='{{ form.consentdateparentguardian.value }}'/>
            </td>
        </tr>
        <tr>
            <td colspan='2'>
                (Required if the participant is a child 15 years old or younger)
            </td>
        </tr>
    </tbody>
</table>

<p>
If you would like to register directly with the Australian Myotonic  Dystrophy Registry please provide the name of your doctors below giving us permission to contact your doctors directly if we require further information to complete your registration.
You have my/our permission to contact my doctors for my personal/our child&apos;s/ details:
</p>

<table id='doctors'>
    <tbody>
		{% for i in 10|get_range %}
        <tr>
            <td class='fieldlabel'>
                Doctor&apos;s Name
            </td>
            <td>
				{% with field_name=i|format:"doctor_%s" %}
               		<input type='text' size='60' maxlength='60' name="doctor_{{forloop.counter0}}" value="{{ form|lookup:field_name }}"/>
				{% endwith %}				
            </td>
        </tr>
        <tr>
            <td class='fieldlabel'>
                Clinic/Medical Practice Address
            </td>
            <td>
				{% with field_name=i|format:"doctoraddress_%s" %}
                	<textarea cols='60' rows='3' name="doctoraddress_{{forloop.counter0}}">{{ form|lookup:field_name }}</textarea>
				{% endwith %}
            </td>
        </tr>
        <tr>
            <td class='fieldlabel'>
                Clinic/Medical Practice Telephone
            </td>
            <td>
				{% with field_name=i|format:"doctortelephone_%s" %}
               		<input type='text' size='60' maxlength='60' name="doctortelephone_{{forloop.counter0}}" value="{{ form|lookup:field_name }}"/>
				{% endwith %}
            </td>
        </tr>
        <tr>
            <td class='fieldlabel'>
                Neurologist/Specialist&apos;s Name
            </td>
            <td>
				{% with field_name=i|format:"specialist_%s" %}
               		<input type='text' size='60' maxlength='60' name="specialist_{{forloop.counter0}}" value="{{ form|lookup:field_name }}"/>
				{% endwith %}
            </td>
        </tr>
        <tr>
            <td colspan='2'>
                <hr/>
            </td>
        </tr>
		{% endfor %}
    </tbody>
</table>

<!--
${self.output_form(form)}
-->

<div>
Click here to print a copy of this consent form for your records <input type='button' value='Print consent form' onclick='window.print();'/>
</div>

<div>
<input type="submit" value="Continue"/>
</div>

</form>
{% endblock %}
