a:link, a:visited {
    color: #194c9d;
    text-decoration: none;
}

h1 {
    font-size: 21px;
    color: #333;
    padding: 0 6px 0 0;
    margin: 0 0 .2em 0;
    font-family: Helvetica, Arial, Sans-Serif;
}

.row1 {
    background: #E6EFFF;
}


.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 2px 5px 3px 5px;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
    background: #6f94ce;
    color: white;
}


#header {
    background: #194c9d;
    color: #eee;
    overflow: hidden;
}

#branding h1 {
    padding: 0 10px;
    margin: 8px 0;
    font-weight: bold;
    color: white;
}

#user-tools {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.4em 10px;
    font-size: 11px;
    text-align: right;
}

#content-related .module h2 {
    background: #eee;
    color: #666;
}

/* FJ added to widen the input fields in admin/groups/user/n */
/* use 'em' to adjust to the font size. Assume the font width is about 1/2 the font size per character */
/* 20em ~ 40 chars and 25em ~ 50 chars */
input#id_first_name, input#id_last_name, input#id_email_address {
	width: 20em;
}
input#id_title {
	width: 25em;
}